.idea/
.git/
.github/
.taskfiles/
build/comparisons/*
build/analyzer-outputs/*
website/_site/
node_modules/
vendor/
vendor-bin/**/vendor/
.dockerignore
.gitignore
.pre-commit-config.yaml
Dockerfile
Taskfile.yaml
