---
layout: default.njk
---
<header>
    <hgroup>
        <h1>PHP Static Analyzer Comparison</h1>
        <p>wip</p>
    </hgroup>
</header>
<main>
    {{ content | safe }}
</main>
<footer>
    <p>A <a href="https://github.com/cjw6k/">cjw6k</a> project. <a href="https://github.com/cjw6k/php-static-analyzer-comparison">Code</a> on github. &mdash; <em><a href="https://github.com/oxalorg/sakura">sakura</a> (dark-solarized) CSS theme by Mitesh Shah</em></p>
</footer>
