<nav>
    <a href="{{ "/" | url }}">Index</a>
    {% if pagination.href.previous %}
        &middot; <a href="{{ pagination.href.first }}">&laquo; First</a>
        &middot; <a href="{{ pagination.href.previous }}">&lsaquo; Previous</a>
    {% endif %}
    {% if pagination.href.next %}
        &middot; <a href="{{ pagination.href.next }}">Next &rsaquo;</a>
        &middot; <a href="{{ pagination.href.last }}">Last &raquo;</a>
    {% endif %}
</nav>
